<div class="topdiv">
	<ul class="list-section users">
	<li *ngFor="let user of users"
		(click)="onSelect(user)"
		[class.selected]="user===selectedUser"
		class="list-item">
		<h3>
			<span class="badge">user id: {{user.id}}</span>
			{{user.fullName | uppercase}}
		</h3>
	</li>
	</ul>
	<div *ngIf="selectedUser"
		class="list-item details">
	<ul>
		<li>First Name: 
			<input [(ngModel)]="selectedUser.firstName" placeholder="selectedUser.firstName"></li>
		<li>Surname: 
			<input [(ngModel)]="selectedUser.lastName" placeholder="selectedUser.lastName"></li>
		<li>Phone: 
			<input [(ngModel)]="selectedUser.phone" placeholder="selectedUser.phone"></li>

		<li>Profile Complete? <strong>{{selectedUser.profileComplete}}</strong></li>

		<li>Client? <strong>{{selectedUser.type}}</strong></li>
		
		<li><label>Case notes: 
			<input [(ngModel)]="selectedUser.notes" placeholder="notes" >
		</label></li>
	</ul>
	</div>
</div>
