.topdiv {
	padding-bottom: 1rem;
	background-color: beige;
}
.list-section {
	list-style: none;
	padding-right: 2rem;
}
.list-item {
	border: 2px navy dotted;
}
.details {
	border-color: lime;
  width: 50vw;
  margin-left: 25vw;
}
.selected {
  background-color: snow !important;
  color: blue;
}

li {
  list-style: none;
}
input {
  font-size: 1.4rem;
  margin: 0 5px 0 5px;
}
.users {
  margin: 0 0 0.5rem 0;
  padding: 20px;
}

.users li {
  margin: .5rem;
  padding: .3rem 0;
  border-radius: 4px;
  font-size: 1.3rem;
}
.users li.selected:hover {
  background-color: gold !important;
  color: black;
}
.users li:hover {
  color: navy;
  background-color: white;
}
.users .badge {
  display: inline-block;
  color: white;
  padding: 0.2rem;
  background-color: maroon;
  position: relative;
}