<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h5>
    	A2J Profile Manager MVP: {{ title }}!
	</h5>
	<app-registration></app-registration>
	<app-users></app-users>

<router-outlet></router-outlet>
